body{
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    margin: 0;
    height: 100vh;  /*Added because of previous exercise. Helps to define screen size and shrinkage*/
    justify-content: space-between; /*Did nothing until adding height definition.*/
}

a{
    text-decoration: none;
    color: white;
}

button{
    background-color: #3882F6;
    color: white;
    border: 1px, solid, #3882F6;
    border-radius: 8px;
    height: 32px;
    padding: 0 32px;
    font-size: 16px;
    font-weight: 600;
}

button.bannerButton{
    border: 1px, solid, white;
}

.header, .informationSection, .quoteSection, .signUpSection, .footer{
    display: flex;
    padding: 0 14vw;
}

.informationSection, .quoteSection, .signUpSection{
    flex: 1;
}

.header, .footer{
    background-color: #1F2937;
    color: #F9FAF8;
}

.header{
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 24vh;
    padding-top: 16px;
}

.navigationBar{
    display: flex;
    justify-content: space-between;
}

.headerLogo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}

.links{
    display: flex;
    justify-content: flex-end;
    min-width: 30vw;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    gap:20px;
}

.headerInformation{
    padding: 60px 0;
    display: flex;
}

.heroSection{
    flex-wrap: wrap;
    flex: 1;
}

h1.heroText{
    margin: 0;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.heroSubText{
    padding-bottom: 10px;
    padding-right: 16px;
    font-size: 18px;
    color: #E5E7EB;
}

.headerImage{
    flex: 1;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.informationSection{
    flex-direction: column;
    align-items: center;
}

.informationTitle{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 30px;
}

.quoteSection{
    background-color: #E5E7EB;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signUpSection{
    display: flex;
    align-items: center;
    justify-content: center;
}

.signUpBanner{
    background-color: #3882F6;
    color: white;
    display: flex;
}

.bannerContent{
    padding: 20px;
}

.footer{
    height: 6vh;
    align-items: center;
    justify-content: center;
}

.roboto-body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}